
{% set options = { items: {'@page.children': '/kalender'}, 'order': {'by': 'date', 'dir': 'asc'}, 'dateRange': {'start': '-1day'}} %}
{% set nextconcert = page.collection(options) %}

<section class="w-full p-4 md:border md:border-black lg:p-5 xl:p-7 {{ page.header.class}}">
    <h1>Volgende Concert</h1>
    {% for n in nextconcert %}
        {% set first_image = n.media.images|first %}
        <div class="md:grid md:grid-cols-3 md:gap-x-4 xl:items-center">
            <div class="md:col-span-2">
                <h2><a class="no-underline" href="{{ n.url|e }}">{{ n.title|e }}</a></h2>
                <p>{{ n.header.date|date("d/m/Y") }}</p>
                <a class="btn-primary my-4 inline-block text-center mx-auto" href="{{ n.header.ticketurl }}">Koop tickets</a>
                <div class="hidden xl:block">
                    <p>{{ n.summary|raw }}</p>
                    <a href="{{ n.url|e }}">Lees meer</a>
                </div>
            </div>
            <div class="max-w-sm mx-auto">
                <a href="{{ n.url|e }}">{{ first_image.html|raw }}</a>
            </div>
        </div>
        
        <div class="max-w-prose xl:hidden">
            <p>{{ n.summary|raw }}</p>
            <a href="{{ n.url|e }}">Lees meer</a>
        </div>
    {% endfor %}

</section>
