{% extends 'partials/base.html.twig' %}



{% set pgWelcome = page.find('/home/_introductie') %}
{% set pgOpeningsuren = page.find('/home/_openingsuren') %}
{% set pgNextConcert = page.find('/home/_nextconcert') %}
{% block body %}
    <div class="px-4 border-b">
        <h1>{{ pgWelcome.title }}</h1>
        {{ pgWelcome.content|raw }}
    </div>
    <div class="px-4">
        <h1>{{ pgOpeningsuren.title }}</h1>
        {{ pgOpeningsuren.content|raw }}
    </div>
    <div class="px-4">
        <h1>{{ pgNextConcert.title }}</h1>
        {{ pgNextConcert.content|raw }}
    </div>

{% endblock %}
